AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>

  Options +FollowSymLinks
  RewriteEngine On


#RewriteRule (*UTF8)^tag/(.*+)/?$ index.php?tag=$1 [L,QSA]
RewriteRule (*UTF8)^category/(.*+)/(.*+)/?$ index.php?cat=$1&offset=$1 [L,QSA]

RewriteRule (*UTF8)^coctail/(.*+)/?$ index.php?coctail=$1 [L]

RewriteRule (*UTF8)^page=(.*+)/?$ index.php?page=$1 [L]
RewriteRule (*UTF8)^tag=(.*+)/?$ index.php?tag=$1 [L]

RewriteRule (*UTF8)^tool=(.*+)/?$ index.php?tool=$1 [L]
RewriteRule (*UTF8)^ingredient=(.*+)/?$ index.php?ingredient=$1 [L]

RewriteRule ^add_coctail/?$ pages/add_coctail.php [L]



</IfModule>