.add_form form>div{
    margin-bottom: 30px;
}

.main_info_label{
    display: flex;
}


.table_data_row{
    display: flex;
    align-items:center;
    width: 600px;
    justify-content: space-between;
}
.table_data_row i.fas{
    margin-left: 20px;
}
.table_data_row i.fas{
    color: #ec0000;
    opacity: 0.6;
    transition: opacity 0.3s;
    cursor: pointer;
}
.table_data_row i.fas:hover{
    opacity: 1;
}



.add_app h3{
    margin-bottom: 5px;
}

.add_app input[type="text"],
.add_app input[type="number"],
.add_app textarea,
.add_app select
{
    font-size: 18px;
    margin: 10px 10px 10px 0;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #cacaca;
}

.add_app .row_valid input,
.add_app .row_valid textarea,
.add_app .row_valid select
{
    border-bottom: 1px solid lightgreen;
}

.add_form_main_info textarea,
.add_form_main_info input{
    width: 600px;
}

.process_rows input{
    flex: 1;
}
.process_rows .table_data_row span {
    margin-right: 10px;
}


.main_info_label .coctail_label{
    margin-right: 10px;
}
.main_info_label .coctail_label_en{
    width: 40%;
}
input.input_kolvo{
    width: 95px;
}
input.input_name{
    width: 350px;
}

.tools_hint{
    display: flex;
}
.tools_hint_btn{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.tools_hint_btn:hover{
    box-shadow: 1px 1px 5px #a6a6a6;
}