body{
    font-family: 'Lobster', cursive;
}
a{
    color: black;
}
h4{
    font-size: 1.6em;
}

.tags{
    padding: 5px;
    transition: color 0.3s;
}
.tags_active,
.tags:hover{
    color: gold;
}
/*.less_than_needed{*/
    /*display: none;*/
/*}*/
.show_less{
    cursor: pointer;
}

.app_container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.catalog_container{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}
.page_header_title{
    display:flex;
}
.catalog_item{
    width: 300px;
    border: 1px solid;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.catalog_item_label_inner {
    text-align: center;
}
.catalog_item_label h3{
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 0.5em;
}
.catalog_item_label p{
    font-size: 1.2em;
}
.catalog_item_img{
    height: 320px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog_item img{
    max-height: 100%;
    max-width: 100%;
}
.catalog_item_label {
    width: fit-content;
    margin: 10px auto;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a.page{
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}
a.active_page{
    background-color: gold;
    color: #fff;
    border: 1px solid gold;
}


/*coctail_page*/
.coctail_page_container{
    width: 800px;
    margin: auto;
}
.coctail_start_content{
    display: flex;
    justify-content: space-between;
}
.coctail_page_content>div{
    flex:1;
}
.tool_name{
    width: 250px;
}
.tool_amount{
    width: 50px;
}

/*доп коктейли*/
/*.more_from_tag .catalog_container{*/
    /*flex-wrap: nowrap;*/
/*}*/

.more_from .catalog_item{
    width: 25%;
    border: none;
}
.more_from .catalog_item_label h3{
    font-size: 1.6em;
}

/*tag_line*/
.active_tags_line{
    display: flex;
    align-items: center;
}
.active_tags_item{
    padding: 2px 15px;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 2px;
    opacity: 0.6;
    transition: opacity 0.3s;
}
.active_tags_item:hover{
    opacity: 1;
}
.active_tags_item i{
    margin-left: 10px;
    transition: all 1s;
}
.active_tags_item i:hover{
    transform: rotate(360grad);
    color:red;
}

.active_tags_item:hover i{
    transform: rotate(360grad);
    color:red;
}

.tag_container{
    max-height: 277px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s;
}
.open_tools{
    max-height: 120%;
}

.tag_button{
    height:60px;
    width: 99%;
    background-color: white;
    position: absolute;
    bottom: 0px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7819502801120448) 100%, rgba(255,255,255,0) 100%);
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tag_button_open{
    position: inherit;
}
.tag_button:hover{
    text-shadow: 1px 1px 5px #00000073;
}