body{
    font-family: 'Lobster', cursive;
}
a{
    color: black;
}
h4{
    font-size: 1.6em;
}

.tags{
    padding: 5px;
}
.tags_active{
    color: gold;
}

.app_container{
    width: 80%;
    max-width: 1200px;
    margin: auto;

}
.catalog_container{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.page_header_title{
    display:flex;
}
.catalog_item{
    width: 300px;
    border: 1px solid;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}
.catalog_item_label_inner {
    text-align: center;
}
.catalog_item_label h3{
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 0.5em;
}
.catalog_item_label p{
    font-size: 1.2em;
}
.catalog_item_img{
    height: 320px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog_item img{
    max-height: 100%;
    max-width: 100%;
}
.catalog_item_label {
    width: fit-content;
    margin: 10px auto;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a.page{
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
}
a.active_page{
    background-color: gold;
    color: #fff;
    border: 1px solid gold;
}


/*coctail_page*/
.coctail_page_container{
    width: 800px;
    margin: auto;
}
.coctail_start_content{
    display: flex;
    justify-content: space-between;
}
.coctail_page_content>div{
    flex:1;
}
.tool_name{
    width: 250px;
}
.tool_amount{
    width: 50px;
}